<ion-view view-title="test">
    <ion-content>
        <ion-header-bar align-title="left" class="bar-positive">
            <button href="#/header/sideMenu" menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <h1 class="title">Techpearl</h1>

            <div class="buttons">
                <button class="button">Right Button</button>
            </div>
        </ion-header-bar>
        <ion-content class="has-header">
            Some content!
        </ion-content>
    </ion-content>
</ion-view>
